body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url("photos/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

#quiz-container {
    overflow: hidden;
    box-sizing: border-box;
    background-image: url("photos/electronics-form.jpg");
    background-size: cover;
    border-color: white;
    background-position: center;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    width: 80%;
    height: 60%;
    text-align: center;
}


h1, h2, h3, h4 {
    color: white;
    margin-bottom: 20px;
    font-size: 1.3em;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #39afd0;
    border-color: black;
    padding: 10px;
}
ul {
    color: white;
    box-sizing: border-box;
    list-style: none;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
    height: 50%;

}
#question-container {
    box-sizing: border-box;
    width: 100%;
    display:;
}

#quiz-answers li {
    box-sizing: border-box;
    border: 1px solid;
    padding: 5px;
    margin: 5px;
    width: 35%;
    background-size: cover;
    border-radius: 15px;
    border-color: black;
    background-color: black;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 10px;
}


li h4 {
    box-sizing: border-box;
    width: 100%;
}

#answer-choice {
    width:100%;
    height:500%;
}

#quiz-container-entry {
    width: 60%;
    display: block;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    height: 200px;
    background-image: url("photos/electronics-form.jpg");

}
#quiz-container-entry h1 > {
    width: 50%;
    align-self: center;
}

#quiz-container-entry ul {
    justify-content: center;
}

.other-buttons {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border-color: black;
    display: inline;
    border-radius: 8px;
    background-color: #39afd0;;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}


.quiz-container h2, .quiz-container h3 {
    margin: 15px 0;
}

