body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url("photos/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

#quiz-container {
    background-image: url("photos/electronics-form.jpg");
    background-size: cover;
    background-position: center;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    max-width: 600px;
    width: 90%;
    text-align: center;
}


h1, h2, h3, h4 {
    color: white;
    margin-bottom: 20px;
    font-size: 1.3em;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #39afd0;
    padding: 10px;
}
ul {
    color: white;
    list-style: none;
    display: flex;
    justify-self: center;
    align-items: center;
}
li {
    border-color: red;
    border: 1px solid;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #39afd0;
}
button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    display: inline;
    border-radius: 8px;
    background-color: #39afd0;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}


.quiz-container h2, .quiz-container h3 {
    margin: 15px 0;
}

