<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Quiz Page</title>
</head>
<body>


<div th:if="${question != null}" id="quiz-container">
    <h3 th:if="${question == null}">Empty quiz. Sorry</h3>
    <form method="post" th:action="@{/show-quiz/{category}(category=${category})}" id="question-container">
        <h4 th:utext="${question.question}  + '<br>' + 'Correct: ' + ${validAnswers} + '/10'"></h4>
        <h4 name="currentIdx" th:text="'Question: ' + ${currentIdx} + '/10'"></h4>
        <ul id="quiz-answers">
            <li th:each="entry : ${question.options.entrySet()}" id="answer-choice">
                    <h4 th:text="${entry.value}"></h4>
                    <input type="radio" name="answer" th:value="${entry.key}" required>
            </li>
        </ul>

        <input type="hidden" name="currentIdx" th:value="${currentIdx}">
        <input type="hidden" name="validAnswers" th:value="${validAnswers}"/>
        <button type="submit">Next</button>
    </form>
    <div class="other-buttons">
        <form th:action="@{/show-quiz/{category}(category=${category})}" method="get">
            <input type="hidden" name="currentIdx" th:value="${currentIdx - 1}">
            <input type="hidden" name="validAnswers" th:value="${validAnswers}">
            <button type="submit" th:if="${currentIdx > 0}">Prev</button>
        </form>

        <form th:action="@{/show-quiz/{category}(category=${category})}" method="get">
            <button type="submit">Retake Quiz</button>
        </form>
        <form th:action="@{/show-quizzes}" method="get">
            <button type="submit">Choose topic again</button>
        </form>
    </div>
</div>

</body>
</html>
