<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<head>
    <meta charset="UTF-8">
    <title>Welcome page</title>
</head>
<body>

<div th:unless="${quizzes.isEmpty()}" id="quiz-container-entry">
    <h1>Welcome to quiz page</h1>
    <div th:if="${quizzes.isEmpty()}">
        <h1>Still not available quizzes, sorry :)</h1>
    </div>
    <ul>
        <li th:each="category : ${quizzes}">
            <form method="post" th:action="@{/show-quiz/{cat}(cat=${category})}">
                <button type="submit" th:text="'Select: ' +  ${category}"></button>
            </form>
        </li>
    </ul>
</div>
</body>
</html>